body {
  min-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.btn {
  font: inherit;
  color: #ffffff;

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  border: none;
}

.btn--orange {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: #e74a35;
}

.btn--orange:hover,
.btn--orange:focus {
  background-color: #ec6f5e;
}

.btn--orange:active {
  background-color: #e74a35;
}

.btn--big {
  font-size: 32px;
  line-height: 44px;
}

.btn--white {
  width: 145px;
  height: 36px;
  font-weight: 500;

  background-color: #a9b9af;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.btn--white:hover,
.btn--white:focus {
  color: #323232;
  background-color: #ffffff;
}

.btn--white:active {
  background-color: #eaeaea;
}

.main-header .container {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-logo {
  width: 155px;
  height: 65px;
  margin-right: 25px;
}

.main-nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  width: 500px;

  background-color: #849d8f;
  border: none;
}

.main-nav__list,
.user-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.nav-link:hover,
.nav-link:focus {
  color: #333333;
  background-color: #f8f7f4;
  text-decoration: none;
}

.nav-link--current,
.nav-link--current:hover,
.nav-link--current:focus {
  color: #333333;
  background-color: #d07058;
  text-decoration: none;
}

.user-nav {
  margin: 0;
  padding: 0;
  width: 300px;
}

.user-nav a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.user-nav a:hover,
.user-nav a:focus {
  font-weight:500;
  color: #333333;
  background-color: #f8f7f4;
}

.header-phones {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.header-phones b {
  font-size: 22px;
  line-height: 24px;
}

.header-phones__info {
  margin: 0;
  padding: 0;
  width: 175px;

  text-align: right;
}

.main-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-slider__item {
  margin-bottom: 40px;

  text-align: center;
}

.main-slider__title {
  width: 665px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;

  text-align: center;
}

.main-promo {
  margin-bottom: 40px;
}

.main-promo__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-promo__item {
  width: 560px;
  min-height: 229px;
  padding: 23px 20px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-repeat: round;
}

.main-promo__item--raspberry {
  background-color: #c36085;
  background-image: url("../img/raspberry.jpg");
}

.main-promo__item--chocolate {
  background-color: #7a5e58;
  background-image: url("../img/choco.jpg");
}

.main-promo__item-title {
  font-size: 35px;
  line-height: 41px;
}

.goods {
  margin-bottom: 40px;
}

.goods-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.goods-list__item {
  width: 267px;
  margin-bottom: 40px;

  text-align: center;
}

.goods-list__item:hover {
  background-color: #a9b9af;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.goods-list__price {
  margin-top: -65px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;

  text-align: left;
}

.goods-list__price span {
  font-size: 35px;
}

.goods-list__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.features {
  margin-bottom: 40px;
  padding: 0 20px;

  background-color: #ecdec6;
  background-image: url("../img/waffle.jpg");
}

.features__title {
  margin: 30px 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features__item {
  width: 540px;
  margin-bottom: 30px;
}

.features__info {
  padding-left: 55px;
  margin: 0;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.gllasy-blog {
  width: 560px;
  min-height: 220px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;

  background-color: #ffffff;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
}

.gllasy-blog__info {
  width: 285px;
  padding-top: 27px;

  font-weight: 500;
}

.gllasy-blog__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;

  background-color: #ffffff;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
}

.subscribe__info {
  padding-top: 33px;
  color: #5a5a5a;
}

.map-wrapper {
  text-align: center;
}

.feedback {
  width: 305px;

  background-color: #ffffff;
  text-align: center;
}

.feedback__info {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  text-align: left;
}

.feedback__info b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  margin-bottom: 30px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;

  padding: 0;
  margin: 0;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: #ffbc9e;
}

.breadcrumbs__link--current {
  text-decoration: none;
}

.breadcrumbs__link--current:hover,
.breadcrumbs__link--current:focus {
  color: #ffffff;
}

.filters__form {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filters__bar {
  display: flex;
}

.filters__bar--end {
  align-items: flex-end;
}

.filters__wrap {
  margin-right: 16px;
}

.filters__list {
  list-style: none;
  margin: 0;
  padding: 0;

  background-color: #a9b9af;
}

.filters__list--fat {
  width: 416px;
}

.filters__list--topping {
  width: 705px;
}

.filters__title {
  font-size: 14px;
  line-height: 16px;
}

.filters__sort {
  width: 195px;

  font: inherit;
  color: #ffffff;

  background-color: #a9b9af;
  border: none;
}

.filters__back {
  width: 220px;

  background-color: #a9b9af;
}

.pagination__list {
  list-style: none;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.pagination__item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-decoration: none;
}

.pagination__item a:hover,
.pagination__item a:focus {
  background-color: #a9b9af;
}

.pagination__item--current a{
  color: #323232;
  background-color: #ffffff;
}

.pagination__item--current a:hover,
.pagination__item--current a:focus,
.pagination__item a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination__btn {
  color: #ffffff;

  background-color: #849d8f;
  border: none;
}

.pagination__btn:hover,
.pagination__btn:focus {
  background-color: #a9b9af;
}

.pagination__btn--off {
  color: #a9b9af;
}

.pagination__btn--off:hover,
.pagination__btn--off:focus {
  background-color: #849d8f;
}

.main-footer {
  min-height: 103px;

  background-color: #849d8f;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 267px;
}

.social-button {
  color: #ffffff;
}

.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 460px;
}

.footer-nav__link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: #ffbc9e;
}

.footer-nav__link b {
  font-weight: 700;
}

.footer-copyright {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright__link {
  color: #ffffff;
}

.footer-copyright__link:hover,
.footer-copyright__link:focus {
  color: #ffbc9e;
}

.modal {
  background-color: #f8f7f4;
}

.modal__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal input[type="text"],
.modal input[type="password"],
.modal textarea {
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.modal input:hover,
.modal input:focus,
.modal textarea:hover,
.modal textarea:focus {
  border: 2px solid rgba(178, 178, 178, 0.52);
}

.modal input:active,
.modal textarea:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.modal-search {
  width: 340px;
  min-height: 85px;
  margin: 0;
}

.modal-search__form{
  font-size: 14px;
  line-height: 24px;
}

.modal-search__input {
  font: inherit;
}

.modal-login {
  width: 277px;
  min-height: 215px;
  margin: 0;
}
.modal-login__form {
  font-size: 14px;
  line-height: 24px;
}

.modal-login__name,
.modal-login__password {
  font: inherit;
}

.modal-login__link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.modal-login__link:hover,
.modal-login__link:focus {
  color: #e84d37;
}

.modal-feedback {
  width: 477px;
  min-height: 442px;
  margin: 0;
}

.modal-feedback__form {
  line-height: 24px;
}

.modal-feedback__name,
.modal-feedback__email,
.modal-feedback__text {
  font: inherit;
}
