body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}
.main-slider__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}
.main-promo__item-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}
